.navigation-bar {
    color: white;
}

nav {
    font-size: 50px;
    padding: 20px;
}

nav ul {
    float: right;
    font-size: 35px;
    Margin-right: 200px;
    position: relative;
}

nav ul li {
    display: inline-block;
    line-height: 1px;
    margin: 0 25px;
    font-weight: bold;

}

nav ul li a {
    color: white;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.design-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #1d1d1d;
    min-height: 100vh;
    padding: 100px 0;
}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 100%;
    height: auto;
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.timeline-content {
    background: #1f1f1f;

    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    margin: 1rem 1rem 20px;
    border-radius: 6px;
}

.timeline-component {
    margin: 20px;
}

.timeline {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
}

.timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #FF5733, #FF5733);
    width: 3px;
    height: 100%;
}

.main-middle {
    opacity: 0;
}

.timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #FF5733, #FF5733, #FF5733);
    transform: translateX(-50%);
}

.timeline-content {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
}